# Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [8]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [9]:
b()
b()
b()
a

6

Explanation:
    1. b(): This step calls the function c(a)--> c(0) and the value of a is 2 i.e a=0+2 --> a=2
    2. b(): This step again calls c(a)--> c(2) which changes the value of a to i.e a=c(2)--> 2+2=4--> a=4
    3. b(): This step invokes c(a) --> c(4) and the value of a becomes 6 i.e a=c(4) --> 4+2 --> a=6
    4. a  : This step prints the value of a which equals to 6.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [8]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File "+str(file_name)+"not found")

In [9]:
fileLength('idterm.py')

File idterm.pynot found

# Question 3


Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.

>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [155]:
class Marsupial:
    l=[]    
    def put_in_pouch(self,x):
        self.l.append(x)
    def pouch_contents(self):
        return self.l

In [138]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [156]:
class Kangaroo(Marsupial):
    cx=0
    cy=0
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def put_in_pouch(self,x):
        self.l.append(x)
    def jump(self,dx,dy):
        self.cx+=dx
        self.cy+=dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates (" + str(self.cx) + "," + str(self.cy) + ")"

In [157]:
k = Kangaroo(0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [150]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [180]:
def collatz(x):
    if x==1:
        return 1
    else:
        print(x)
        if x%2==0:
            return collatz(x//2)
        else: 
            return collatz(3*x+1)

In [174]:
collatz(1)

1

In [181]:
collatz(10)

10
5
16
8
4
2

1

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [203]:
def binary(n):
    if n==0:
        return 0
    else:
        binary(n//2)
        print(n%2,end='')

In [183]:
binary(0)

0

In [204]:
binary(3)

11

In [205]:
binary(9)

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [25]:
from html.parser import HTMLParser
store=[]
class HeadingParser(HTMLParser):
    global store
    def handle_starttag(self, tag, attrs):
        store.append(tag)
    def handle_data(self, data):
        store.append(data)        
    def handle_endtag(self,tag):
        if(tag=="html"):
            for val in store:
                for tagno in ('h1','h2','h3','h4','h5','h6'):
                    if(val==tagno):
                        ind=store.index(tagno)
                        print(store[ind+1],end="\n\t")

In [26]:
infile = open("C:\\Users\\rpras\\Desktop\\w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

***Installing ipython-sql for running sql queries

In [260]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: ipython>=1.0 in c:\users\rpras\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: six in c:\users\rpras\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\rpras\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\rpras\anaconda3\lib\site-packages (from ipython-sql) (1.4.7)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: pickleshare in c:\users\rpras\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in c:\users\rpras\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\rpras\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: decorator in c:\users\rpras\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: colorama in c:\users\rpras\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\rpras\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: traitlets>=4.2 in c:\users\rpras\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: jedi>=0.16 in c:\users\rpras\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in c:\users\rpras\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\rpras\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\rpras\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rpras\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.0.0)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13699 sha256=327123aa0780329af9be727946536bd1bc834900adb84b526f5e84b6658c75b6
  Stored in directory: c:\users\rpras\appdata\local\pip\cache\wheels\48\6d\77\9517cb933af254f51a446f1a5ec9c2be3e45f17384940bce68
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

# Question 8

Write SQL queries on the below database table that return:

 City               Country                   Season                         Temperature(C)                 Rainfall(mm)
Mumbai               India                    Winter                              24.8                         5.9
Mumbai               India                    Spring                              28.4                         16.2
Mumbai               India                    Summer                              27.9                        1549.4
Mumbai               India                     Fall                               27.6                         346.0
London             United Kingdom             Winter                               4.2                         207.7
London             United Kingdom             Spring                               8.3                         169.6
London             United Kingdom             Summer                               15.7                        157.0
London             United Kingdom              Fall                                10.4                        218.5
Cairo                 Egypt                   Winter                               13.6                         16.5
Cairo                 Egypt                   Spring                               20.7                         6.5
Cairo                 Egypt                   Summer                               27.7                         0.1
Cairo                 Egypt                    Fall                                22.2                         4.5

In [337]:
import sqlite3
con = sqlite3.connect('p2.db')
cur = con.cursor()

***Creating a table 'Weather'

In [331]:
cur.execute("CREATE TABLE Weather (City text, Country text, Season text, Temperature float, Rainfall float)")

***Inserting values into the table

In [332]:
r=('Mumbai','India','Winter',24.8,5.9)
cur.execute("INSERT INTO Weather VALUES(?,?,?,?,?)",r)

In [333]:
r=('Mumbai','India','Spring',28.4,16.2)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Mumbai','India', 'Summer', 27.9 ,1549.4)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Mumbai','India','Fall', 27.6, 346.0)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('London' ,'United Kingdom', 'Winter', 4.2 ,207.7)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('London' ,'United Kingdom','Spring',8.3 ,169.6)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('London' ,'United Kingdom', 'Summer', 15.7 ,157.0)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('London' ,'United Kingdom','Fall',10.4 ,218.5)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Cairo', 'Egypt' ,'Winter' , 13.6 ,16.5)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Cairo', 'Egypt' ,'Spring' , 20.7 ,6.5)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Cairo', 'Egypt' ,'Summer' , 27.7 ,0.1)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)
r=('Cairo', 'Egypt' ,'Fall' ,22.2 ,4.5)
cur.execute("INSERT INTO Weather  VALUES(?,?,?,?,?)",r)

In [ ]:
con.commit()
con.close()

In [338]:
con = sqlite3.connect('p2.db')
cur = con.cursor()
cur.execute('SELECT * FROM Weather')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

a) All the temperature data.

In [349]:
cur.execute('SELECT Temperature FROM Weather')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition.

In [340]:
cur.execute('SELECT DISTINCT City FROM Weather')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India.

In [341]:
cur.execute("SELECT *  FROM Weather WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [ ]:
cur.execute("SELECT *  FROM Weather WHERE Season = 'Fall'")
cur.fetchall()

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [342]:
cur.execute("SELECT City,Country,Season FROM Weather WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [344]:
cur.execute("SELECT DISTINCT City,Country FROM Weather WHERE Temperature> 20 ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [347]:
cur.execute("SELECT City,Country FROM Weather WHERE Temperature> 20 ORDER BY Temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India'),
 ('Cairo', 'Egypt'),
 ('Mumbai', 'India'),
 ('Mumbai', 'India')]

g) The total annual rainfall for Cairo.

In [345]:
cur.execute("SELECT SUM(Rainfall) FROM Weather WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

h) The total rainfall for each season.

In [346]:
cur.execute("SELECT SUM(Rainfall) FROM Weather GROUP BY Season")
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

# Question 9

>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

Write list comprehension expressions that use list words and generate the following
lists:

In [213]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

a) Making all the words to upper case

In [255]:
a=[x.upper() for x in words]
a

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b ) Making all the words to lower case

In [256]:
b=[x.lower() for x in words]
b

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c ) the list of lengths of words in list
words

In [257]:
c=[len(x) for x in words]
c

[3, 5, 5, 3, 5, 4, 3, 4, 3]

d ) the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.

In [258]:
m=[a,b,c]
d=[[m[i][j] for i in range(0,len(m)) ]for j in range (0,len(a))]
d

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

e ) the list of words in list words containing 4 or more
characters.

In [259]:
e=[x for x in words if len(x)>=4]
e

['quick', 'brown', 'jumps', 'over', 'lazy']